In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [2]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}

In [3]:
webpage=requests.get('https://weather.com/weather/today/l/8550e54fa880accaa2a725712c1e0ec00a83e9aeb17521331ea6d21b0ad3997d').text

In [4]:
soup=BeautifulSoup(webpage,'lxml')

In [5]:
soup.find_all('h1')

In [6]:
webpage2=requests.get('https://www.accuweather.com/en/in/khandwa/189113/weather-forecast/189113',headers=headers).text

In [8]:
soup2=BeautifulSoup(webpage2,'lxml')

In [9]:
#soup2.prettify()

In [10]:
soup2.find_all(class_="day")

[<p class="day">Tonight</p>,
 <p class="day">Fri</p>,
 <p class="day">Sat</p>,
 <p class="day">Sun</p>,
 <p class="day">Mon</p>,
 <p class="day">Tue</p>,
 <p class="day">Wed</p>,
 <p class="day">Thu</p>,
 <p class="day">Fri</p>,
 <p class="day">Sat</p>]

In [11]:
len(soup2.find_all('p',class_='no-wrap'))

19

In [12]:
len(soup2.find_all(class_='temp-hi'))

10

In [13]:
for i in soup2.find_all(class_='precip'):
    print(i.text.strip())

24%
11%
55%
70%
25%
66%
85%
70%
75%
56%

In [14]:
len(soup2.find_all(class_='precip'))

10

In [15]:
for i in soup2.find_all('a',class_='daily-list-item'):
    for j in i.find('div'):
        print(j.text.strip())

Tonight

6/12


Fri

6/13


Sat

6/14


Sun

6/15


Mon

6/16


Tue

6/17


Wed

6/18


Thu

6/19


Fri

6/20


Sat

6/21

In [16]:
content=soup2.find_all('div',class_='page-content')

In [18]:
day=[]
date=[]
hi_temp=[]
low_temp=[]
phrase0=[]
phrase1=[]
img=[]
precip=[]
for i in content:
    for j in i.find_all('a',class_='daily-list-item'):
         day.append(j.find_all('p',class_='day')[0].text)    
         date.append(j.find_all('p',class_=None)[0].text)
         hi_temp.append(j.find_all(class_='temp-hi')[0].text)
         low_temp.append(j.find_all(class_='temp-lo')[0].text)
         phrase0.append(j.find_all('p',class_='no-wrap')[0].text)
         phrase1.append(j.find_all('p',class_='no-wrap')[0].text)
         img.append(j.find('img',class_='icon'))
         precip.append(j.find_all(class_="precip")[0].text)

weather_info={'day':day,'date':date,'hi-temp':hi_temp,'low-temp':low_temp,'day-dec':phrase0,'night-dec':phrase1}
df=pd.DataFrame(weather_info)

In [20]:
df

,day,date,hi-temp,low-temp,day-dec,night-dec
0,Tonight,6/12,30°,Lo,Very warm with clearing,Very warm with clearing
1,Fri,6/13,40°,27°,Warm; breezy in the morning,Warm; breezy in the morning
2,Sat,6/14,37°,27°,A p.m. t-storm in spots,A p.m. t-storm in spots
3,Sun,6/15,31°,26°,"Cloudy, a t-storm in the p.m.","Cloudy, a t-storm in the p.m."
4,Mon,6/16,31°,26°,Clouds breaking for some sun,Clouds breaking for some sun
5,Tue,6/17,32°,26°,Some rain and a thunderstorm,Some rain and a thunderstorm
6,Wed,6/18,34°,25°,Cloudy with afternoon rain,Cloudy with afternoon rain
7,Thu,6/19,29°,26°,Rain and a thunderstorm,Rain and a thunderstorm
8,Fri,6/20,30°,25°,An afternoon t-storm or two,An afternoon t-storm or two
9,Sat,6/21,31°,25°,A little afternoon rain,A little afternoon rain

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   day        10 non-null     object
 1   date       10 non-null     object
 2   hi-temp    10 non-null     object
 3   low-temp   10 non-null     object
 4   day-dec    10 non-null     object
 5   night-dec  10 non-null     object
dtypes: object(6)
memory usage: 612.0+ bytes

In [24]:
df=df.to_csv('weather_info.csv')

In [26]:
weather=pd.read_csv('weather_info.csv')
weather

,Unnamed: 0,day,date,hi-temp,low-temp,day-dec,night-dec
0,0,Tonight,6/12,30°,Lo,Very warm with clearing,Very warm with clearing
1,1,Fri,6/13,40°,27°,Warm; breezy in the morning,Warm; breezy in the morning
2,2,Sat,6/14,37°,27°,A p.m. t-storm in spots,A p.m. t-storm in spots
3,3,Sun,6/15,31°,26°,"Cloudy, a t-storm in the p.m.","Cloudy, a t-storm in the p.m."
4,4,Mon,6/16,31°,26°,Clouds breaking for some sun,Clouds breaking for some sun
5,5,Tue,6/17,32°,26°,Some rain and a thunderstorm,Some rain and a thunderstorm
6,6,Wed,6/18,34°,25°,Cloudy with afternoon rain,Cloudy with afternoon rain
7,7,Thu,6/19,29°,26°,Rain and a thunderstorm,Rain and a thunderstorm
8,8,Fri,6/20,30°,25°,An afternoon t-storm or two,An afternoon t-storm or two
9,9,Sat,6/21,31°,25°,A little afternoon rain,A little afternoon rain

In [28]:
weather['date']=pd.to_datetime(weather.date,format='%m/%d')

In [30]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10 non-null     int64
 1   day         10 non-null     object
 2   date        10 non-null     datetime64[ns]
 3   hi-temp     10 non-null     object
 4   low-temp    10 non-null     object
 5   day-dec     10 non-null     object
 6   night-dec   10 non-null     object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 692.0+ bytes

In [32]:
weather['day'].unique()

array(['Tonight', 'Fri', 'Sat', 'Sun', 'Mon', 'Tue', 'Wed', 'Thu'],
      dtype=object)

***Most used shopping app in India***

In [34]:
app=requests.get('https://cashkaro.com/blog/best-online-shopping-apps-in-india/185530#amazon').text

In [38]:
soup3=BeautifulSoup(app,'lxml')

In [ ]:
soup3.prettify()

In [306]:
name=[]
for i in soup3.find_all('h3'):
    strong_tags=i.find_all('strong',class_=None)
    for strong in strong_tags:
        name.append(strong.text)

['Amazon',
 'Flipkart',
 'Myntra',
 'Nykaa',
 'Ajio',
 'Snapdeal',
 'Meesho',
 'Swiggy',
 'Tata Cliq',
 'FirstCry',
 'Bigbasket',
 'ShopClues',
 'Limeroad',
 'Craftsvilla',
 'PepperFry',
 'Ferns & Petals',
 'Lenskart',
 'OLX',
 'AliExpress ',
 'Zepto',
 'Urbanic',
 'Blinkit']

In [308]:
for i in soup3.find_all('figure',class_='wp-block-table'):
    for j in i.find('table'):
        print(j.find_all('tr',class_=None)[0])

<tr><td>App Ratings</td><td>4.5/5</td></tr>
<tr><td>App Ratings</td><td>4.4/5</td></tr>
<tr><td>App Ratings</td><td>4.4/5</td></tr>
<tr><td>App Ratings</td><td>4.5/5</td></tr>
<tr><td>App Ratings</td><td>4.4/5</td></tr>
<tr><td>App Ratings</td><td>4.4/5</td></tr>
<tr><td>App Ratings</td><td><strong> </strong>4.1/5</td></tr>
<tr><td>App Ratings</td><td>4.0/5</td></tr>
<tr><td>App Ratings</td><td><strong> </strong>4.4/5</td></tr>
<tr><td>App Ratings</td><td><strong> </strong>4.6/5</td></tr>
<tr><td>App Ratings</td><td><strong> </strong>4.5/5</td></tr>
<tr><td>App Ratings</td><td><strong> </strong>3.8/5</td></tr>
<tr><td>App Ratings</td><td><strong> </strong>4.0/5</td></tr>
<tr><td>App Ratings</td><td><strong> </strong>3.8/5</td></tr>
<tr><td>App Ratings</td><td><strong> </strong>3.7/5</td></tr>
<tr><td>App Ratings</td><td><strong> </strong>4.7/5</td></tr>
<tr><td>App Ratings</td><td><strong> </strong>3.5 /5</td></tr>
<tr><td>App Ratings</td><td><strong> </strong>4.3/5</td></tr>
<tr><td>App Ratings</td><td><strong> </strong>4.5/5</td></tr>
<tr><td>App Ratings</td><td><strong> </strong>4.7/5</td></tr>
<tr><td>App Ratings</td><td><strong> </strong>4.3/5</td></tr>
<tr><td>App Ratings</td><td><strong> </strong>4.5/5</td></tr>

In [300]:
for i in soup3.find_all('figure',class_='wp-block-table'):
    for j in i.find('table'):
        for k in j.find_all('tr')[1]:
            print(k)

<td>Total Installs</td>
<td>10Cr+</td>
<td>Total Installs</td>
<td>500M+</td>
<td>Total Installs</td>
<td>10Cr+</td>
<td>Total Installs</td>
<td>1Cr+</td>
<td>Total Installs</td>
<td>10Cr+</td>
<td>Total Installs</td>
<td>10Cr+</td>
<td>Total Installs</td>
<td>100M+</td>
<td>Total Installs</td>
<td>10Cr+</td>
<td>Total Installs</td>
<td>50M+</td>
<td>Total Installs</td>
<td>1Cr+</td>
<td>Total Installs</td>
<td>10M+</td>
<td>Total Installs</td>
<td>50M+</td>
<td>Total Installs</td>
<td>50M+</td>
<td>Total Installs</td>
<td>1Cr+</td>
<td>Total Installs</td>
<td>10M+</td>
<td>Total Installs</td>
<td>10L+</td>
<td>Total Installs</td>
<td>10L+</td>
<td>Total Installs</td>
<td>10L+</td>
<td>Total Installs</td>
<td>500M+</td>
<td>Total Installs</td>
<td>1Cr+</td>
<td>Total Installs</td>
<td>10M+</td>
<td>Total Installs</td>
<td>1Cr+</td>

In [310]:
for i in soup3.find_all('figure',class_='wp-block-table'):
    for j in i.find('table'):
        for k in j.find_all('tr')[2]:
            print(k)

<td>Launched  In </td>
<td>December 2014</td>
<td>Launched  In </td>
<td>July 2011</td>
<td>Launched  In </td>
<td>May 2014</td>
<td>Launched  In </td>
<td>Jan 2015</td>
<td>Launched  In </td>
<td>2016</td>
<td>Launched  In </td>
<td>Apr 2012</td>
<td>Launched  In </td>
<td>Feb 2017</td>
<td>Launched  In </td>
<td>Jun-2015</td>
<td>Launched  In </td>
<td>May 2016</td>
<td>Launched  In </td>
<td>May 2013</td>
<td>Launched  In </td>
<td>May 2013</td>
<td>Launched  In </td>
<td>Dec 2013</td>
<td>Launched  In </td>
<td>Apr 2014</td>
<td>Launched  In </td>
<td>Apr 2015</td>
<td>Launched  In </td>
<td>Oct 2015</td>
<td>Launched  In </td>
<td>Mar 2014</td>
<td>Launched  In </td>
<td>Jan 2015</td>
<td>Launched  In </td>
<td>2006</td>
<td>Launched  In </td>
<td>Sep 2012</td>
<td>Launched  In </td>
<td>Aug 2021</td>
<td>Launched  In </td>
<td>Jul 2020</td>
<td>Launched  In </td>
<td><strong>Dec 2014</strong></td>

In [314]:
for i in soup3.find_all('figure',class_='wp-block-table'):
    for j in i.find('table'):
        for k in j.find_all('tr')[3]:
            print(k.text)

Founded By
Jeff Bezos
Founded By
Binny Bansal, Sachin Bansal
Founded By
Mukesh Bansal, Vineet Saxena, Ashutosh Lawania
Founded By
Falguni Nayar
Founded By
Mukesh Ambani
Founded By
Kunal Bahl and Rohit Bansal
Founded By
Vidit Aatrey, Sanjeev Barnwal
Founded By
Nandan Reddy
Founded By
Tata Unistore Limite
Founded By
Supam Maheshwari, Amitava Saha, Sanket Hattimattur, Prashant Jadhav
Founded By
V.S. Sudhakar, Hari Menon, V.S. Ramesh, Vipul Parekh, Abhinay Choudhari
Founded By
Radhika Aggarwal, Sanjay Sethi, Sandeep Aggarwal
Founded By
Suchi Mukherjee, Ankush Mehra, Prashant Malik
Founded By
Manoj Gupta, Monica Gupta
Founded By
Ambareesh Murthy
Founded By
Meeta Gutgutia, Vikaas Gutgutia
Founded By
Peyush Bansal
Founded By
Fabrice Grinda, Alec Oxenford
Founded By
Jack Ma Yun
Founded By
Kaivalya Vohra, Aadit Palicha
Founded By
N/A
Founded By
Albinder Dhindsa, Saurabh Kumar

In [332]:
for i in soup3.find_all('figure',class_='wp-block-table'):
    for j in i.find('table'):
        for k in j.find_all('tr')[4]:

TypeError: 'int' object is not iterable